
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin-top: 5%;
    background: #ff1a1a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.section {
    margin: 20px 0;
    text-align: left;
}

.section h2 {
    color: #ff1a1a;
}

.plans {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

.plan {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 45%;
}

.plan h3 {
    margin-top: 0;
}

.testimonials {
    margin-top: 20px;
}

.testimonials p {
    font-style: italic;
}

.cta-button {
    background: #ff1a1a;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

