div#navbar {
    position: fixed;
    float: left;
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 8%;
    z-index: 999;
    border-bottom: 1px solid rgb(200, 200, 200);
}
div#logo {
    position: relative;
    float: left;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#logo img {
    height: 100%;
    cursor: pointer;
}
div#menu {
    position: relative;
    float: left;
    width: 5%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
div#barras {
    position: relative; float: left;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-itens {
    position: relative;float: right;
    width: 25%;
    height: 100%;
    margin-right: 5%;
}
.navbar-itens nav{
    position: relative;
    float: right;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-itens input{
    margin-top: 7.5%;
    height: 60%;
}
.navbar-itens button {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    div#logo {
        margin-left: 10%;
}
.navbar-itens {
    position: relative;float: right;
    width: 70%;
    height: 100%;
    margin-right: 15%;
    margin-top: -17.5%;
}
}