
div#textos1{
    position:relative;
    float: left;
    width: 51%;
    height: 20%;
    margin-left: 22%;
    margin-right: 25%;
    margin-top: 3%; 
    font-size: 40PX;
}
div#textos2{
    position: relative;
    float: left;
    width: 60%;
    height: 70%;
    margin-left: 20%;
    
    font-size: 18px;
    background-color: rgb(225,225,225);
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}