div#textoss1{
    position:relative;
    float: left;
    width: 51%;
    height: 20%;
    margin-left: 22%;
    margin-right: 25%;
    margin-top: 8%; 
    font-size: 40PX;

}
div#textoss2{
    position: relative;
    float: left;
    width: 60%;
    height: 70%;
    margin-left: 20%;
    font-size: 17px;
    background-color: rgb(225,225,225);
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}